html {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: calc(18px + (21 - 18) * ((100vw - 300px) / (1600 - 300)));
  line-height: 1.5;
  max-width: 75ex;
  letter-spacing: 1px;
  padding: 1.5rem 1.5rem 0;
  color: #2b0000;
}

body {
  margin: 0;
}

*:not([class]) {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

a {
  color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.2;
}

h4,
h5,
h6 {
  font-size: 100%;
}

.no-underline {
  text-decoration: none;
}

.inline-block {
  display: inline-block;
}

.no-margin {
  margin: 0;
}

.margin-bottom {
  margin-bottom: 1.5rem;
}

.sans-serif {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.logo {
  font-size: 115%;
  margin-bottom: 1.5rem;
  margin-block-start: auto;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.list__title {
  margin-bottom: .5rem;
}
